In [2]:
using Random
Random.seed!(13)

using CSV
using Plots
using DataFrames
using Statistics

┌ Info: Recompiling stale cache file /Users/principal/.julia/compiled/v1.2/CSV/HHBkp.ji for CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1240

In [3]:
employee=CSV.read("employee_survey_data.csv")
general=CSV.read("general_data.csv")
#in_time=CSV.read("in_time.csv")
#out_time=CSV.read("out_time.csv")
manager=CSV.read("manager_survey_data.csv")

4410×3 DataFrame
│ Row  │ EmployeeID │ JobInvolvement │ PerformanceRating │
│      │ Int64      │ Int64          │ Int64             │
├──────┼────────────┼────────────────┼───────────────────┤
│ 1    │ 1          │ 3              │ 3                 │
│ 2    │ 2          │ 2              │ 4                 │
│ 3    │ 3          │ 3              │ 3                 │
│ 4    │ 4          │ 2              │ 3                 │
│ 5    │ 5          │ 3              │ 3                 │
│ 6    │ 6          │ 3              │ 3                 │
│ 7    │ 7          │ 3              │ 4                 │
│ 8    │ 8          │ 3              │ 4                 │
│ 9    │ 9          │ 3              │ 4                 │
│ 10   │ 10         │ 3              │ 3                 │
⋮
│ 4400 │ 4400       │ 2              │ 3                 │
│ 4401 │ 4401       │ 3              │ 3                 │
│ 4402 │ 4402       │ 2              │ 3                 │
│ 4403 │ 4403       │ 3              │ 3                 │
│ 4404 │ 4404       │ 3              │ 3                 │
│ 4405 │ 4405       │ 2              │ 3                 │
│ 4406 │ 4406       │ 3              │ 3                 │
│ 4407 │ 4407       │ 2              │ 3                 │
│ 4408 │ 4408       │ 3              │ 4                 │
│ 4409 │ 4409       │ 2              │ 3                 │
│ 4410 │ 4410       │ 4              │ 3                 │

In [9]:
full = join(manager, employee, on = :EmployeeID)
df=join(full, general , on = :EmployeeID)

4410×29 DataFrame. Omitted printing of 26 columns
│ Row  │ EmployeeID │ JobInvolvement │ PerformanceRating │
│      │ Int64      │ Int64          │ Int64             │
├──────┼────────────┼────────────────┼───────────────────┤
│ 1    │ 1          │ 3              │ 3                 │
│ 2    │ 2          │ 2              │ 4                 │
│ 3    │ 3          │ 3              │ 3                 │
│ 4    │ 4          │ 2              │ 3                 │
│ 5    │ 5          │ 3              │ 3                 │
│ 6    │ 6          │ 3              │ 3                 │
│ 7    │ 7          │ 3              │ 4                 │
│ 8    │ 8          │ 3              │ 4                 │
│ 9    │ 9          │ 3              │ 4                 │
│ 10   │ 10         │ 3              │ 3                 │
⋮
│ 4400 │ 4400       │ 2              │ 3                 │
│ 4401 │ 4401       │ 3              │ 3                 │
│ 4402 │ 4402       │ 2              │ 3                 │
│ 4403 │ 4403       │ 3              │ 3                 │
│ 4404 │ 4404       │ 3              │ 3                 │
│ 4405 │ 4405       │ 2              │ 3                 │
│ 4406 │ 4406       │ 3              │ 3                 │
│ 4407 │ 4407       │ 2              │ 3                 │
│ 4408 │ 4408       │ 3              │ 4                 │
│ 4409 │ 4409       │ 2              │ 3                 │
│ 4410 │ 4410       │ 4              │ 3                 │

In [11]:
# let's list all available categories, as well as their datatype using the "eltype" function.
feature_names = names(df)
for i in 1:size(feature_names,1)
    println(string(i), "\t", string(feature_names[i]), "\t\t\t", string(eltype(df[!, i])))
end

1	EmployeeID			Int64
2	JobInvolvement			Int64
3	PerformanceRating			Int64
4	EnvironmentSatisfaction			String
5	JobSatisfaction			String
6	WorkLifeBalance			String
7	Age			Int64
8	Attrition			String
9	BusinessTravel			String
10	Department			String
11	DistanceFromHome			Int64
12	Education			Int64
13	EducationField			String
14	EmployeeCount			Int64
15	Gender			String
16	JobLevel			Int64
17	JobRole			String
18	MaritalStatus			String
19	MonthlyIncome			Int64
20	NumCompaniesWorked			String
21	Over18			String
22	PercentSalaryHike			Int64
23	StandardHours			Int64
24	StockOptionLevel			Int64
25	TotalWorkingYears			String
26	TrainingTimesLastYear			Int64
27	YearsAtCompany			Int64
28	YearsSinceLastPromotion			Int64
29	YearsWithCurrManager			Int64